<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/create.css">
</head>
<body>
    <nav>
        <h1>Taskbook</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/create">Create Task</a></li>
        </ul>
    </nav>

   <div class="container">
    <h1>Create new Task</h1>
    <form action="/create" method="post">
    <textarea rows="20" cols="70" name="taskinfo"></textarea>
    <br><br>
    <button >submit</button>
    </form>
   </div>
</body>
</html>