<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <h1>Taskbook</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/create">Create Task</a></li>
        </ul>
    </nav>
    <h1>You are Editing Task of <span><%= filename %></span> date</h1>
    <form action="/edit/<%= filename %>" method="post">
        <textarea rows="10" cols="40" name="taskinfo"><%= data %></textarea>
        <br>
        <button>Update Task</button>
        </form>
</body>
</html>