<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">

</head>
<body>
    <nav>
        <h1>Taskbook</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/create">Create Task</a></li>
        </ul>
    </nav>

    <div class="container">
        <% files.forEach((file)=>{%>
            <div class="list">
                <h3><%= file %></h3>
                <a href="/show/<%= file %>">show</a>
                <a href="/edit/<%= file %>">edit</a>
                <a href="/delete/<%= file %>">delete</i></a>
             </div>
        <% })  %>
       
    </div>
</body>
</html>