<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/show.css">
</head>
<body>
    <nav>
        <h1>Taskbook</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/create">Create Task</a></li>
        </ul>
    </nav>
  <div class="container">
    <h1>Task of <span><%= filename %></span> date</h1>

    <p><%= data %></p>
    <br><br>
    <button><a href="/edit/<%= filename %>">edit this task</a></button>
  </div>
</body>
</html>