*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #eae8e8;
    color: #333;
}

a{
    text-decoration: none;
    color: white;
    block-size: auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-size: large;
    height: 70px;
}
.container{
    margin-top: 50px;
    padding-left: 20px;
    display:flex;
    flex-direction: column;
}
form{
    margin-top: 50px;
}
textarea{
    padding: 10px;
    font-size: large;
}

ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

li>a{
    text-decoration: none;
    color: rgb(11, 11, 11);
}
span{
    color: #1F6FEB;
    font-weight: 600;
}

button{
    padding: 10px 20px;
    background-color: #1F6FEB;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: large;
    cursor: pointer;
}